*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: url(11zon_resized.jpeg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(22,112,214,0.4);
}

.navbar ul{
    float: right;
    margin-right: 20px;
    padding-left: 0;
}

.navbar ul li{
    list-style: none;
    float: left;
    line-height: 80px;
    margin: 0 10px;
}

.navbar ul li a{
    display: block;
color: #ffffff;
text-decoration: none;
font-size: 17px;
padding: 31.5px 15px;
font-family: sans-serif;
}

.navbar ul li a:hover{
    color: #ffc107;
}